<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Best Songs</title>
    <th:block th:replace="~{fragments/linkHead :: linkHead}" />
  </head>
  <body>
    <h1>Best Songs</h1>
    <th:block th:each="song : ${songs}">
      <div th:object="${song}">
        <h2 th:text="|Canzone *{id}  : *{toString}|" />

        <div>[[*{averageVote}]]</div>
      </div>
    </th:block>
  </body>
</html>
